// external links
.itemExternalLinks > a {
    color: #00a4dc !important;
}

.layout-desktop {
    // big backdrop
    .itemBackdrop {
        height: 100vh;
    }

    // poster position
    .detailImageContainer .card {
        top: -71vh;
    }

    // logo position
    .detailLogo {
        right: 5vw;
        top: 15vh;
    }

    // ribbon gradient merge
    .detailRibbon {
        background: transparent;
    }
    .detailPageWrapperContainer {
        background: linear-gradient(to bottom, transparent, #00000070 7%);
    }
    .backgroundContainer.withBackdrop {
        background-color: rgba(0, 0, 0, 0.6);
    }

    .listItem:hover {
        background: transparent;
    }
}
